.bg-info {
  background: none;
  border-bottom: 1px solid #dddddd;
  height: auto;
  width: auto;
}
.messages {
  height: auto;
}
.changed {
  background: none;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
}
.warning {
  background: none;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
  color: red;
}
.main-header {
  margin-bottom: 40px;
}
.timestamp {
  color: #9B9898;
}
.messages-container {
  display: inline-block;
  height: auto;
}
