* {
   font-family: 'Abel', sans-serif;
}

.main-container {
  height: 100%;
}
.bg-info {
  background: none;
  height: auto;
  width: auto;
  padding-left: 0px;
}
.messages {
  height: auto;
}
.message-row {
  border-bottom: 1px solid #dddddd;
  width: 505px;
}
.changed {
  background: none;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
  padding-left: 0px;
}
.warning {
  background: none;
  font-weight: bold;
  color: red;
  padding-left: 0px;
}
.main-header {
  margin-bottom: 40px;
}
.timestamp {
  color: #9B9898;
  width: auto;
}
.messages-container {
  display: inline-block;
  height: auto;
}
.modal-content {
  height: 100px;
}
.feature {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.modal-button {
  position: absolute;
  right: 10px;
  margin: 0px;
}
